---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>Blog Page</h1>
    <h2>This is where I'll put all my thoughts</h2>

    <p>The first blog will be on why I am learning how to code?</p>

    <p>The second one will be on the importance of design, UI, UX in the new AI projects age</p>
	</body>
</html>
